{% load i18n bootstrap4form %}
{% load load_helpdesk_settings %}
{% with request|load_helpdesk_settings as helpdesk_settings %}

{% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
<p>{% trans "All fields are required, unless otherwise stated." %} {% trans "Please insert title and a clear description." %}</p>
<form method='post' enctype='multipart/form-data'>
    {{ form|bootstrap4form }}
    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-send"></i>&nbsp;{% trans "Submit Report" %}</button>
    {% csrf_token %}</form>
{% else %}
<h2>{% trans "Public report submission is disabled. Please contact the administrator for assistance." %}</h2>
{% endif %}
{% endwith %}
